<div class="container d-flex justify-content-center">
<div class="col-sm-6 m-4">
<h1>Change Password</h1>

<% if @user.errors && @user.errors.any? %>
  <p><%= @user.errors.full_messages.join(', ') %> </p>
<% end %>

<%= form_with url: update_password_path do |f| %>
  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, class:"form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :new_password %>
    <%= f.password_field :new_password, class:"form-control", required: true, minlength:"3", maxlength:"12" %>
  </div>
  <div class="form-group">
    <%= f.label :new_password_confirmation %>
    <%= f.password_field :new_password_confirmation, class:"form-control", required: true, minlength:"3", maxlength:"12" %>
  </div> 

  <br>
  <%= f.submit "Change Password", class:"btn btn-outline-primary" %>
<% end %>

</div>
</div>