<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
    <%= link_to "Blog on Rails", root_path %>
    <%= link_to "Home", posts_path %>
    <%= link_to "New Post", new_post_path %>
  </nav>

    <% flash.each do |type, message| %>
      <div class="alert alert-info" role="alert">
        <%= type + "------" + message %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
